<div class="row">

    <h1 class="text-center text-danger"> Employees</h1>
    <hr/>
    <div class="row">
        <div class="col-md-9 col-md-offset-1">
            <input tyep="text" placeholder="Type here to filter" class="input-lg form-control" ng-model="txtFilter" />
            <br/>
            <br/>
<table class="table table-striped table-bordered">
    <thead>
        <tr>
            <th>Name</th>
            <th>Address</th>
            <th>Phone Number</th>
        </tr>
    </thead>
    <tr ng-repeat="a in emps |filter:txtFilter">
        <td>{{a.First_Name}}</td>
        <td>{{a.Address}}</td>
        <td>{{a.Phone_Number}}</td>
    </tr>
</table>
        </div>
    </div>
</div>